In [2]:
# Dependencies
import requests
import pandas as pd
import numpy as np
#from config import api_key

# read in csv file for title lis
f_csv = "./data_files/first900_fix.csv"
l_csv = "./data_files/last900_fix.csv"
num_csv = "./data_files/numberdotcom.csv"

In [8]:
# read in csv file for title list
num_df = pd.read_csv(num_csv)
f_df = pd.read_csv(f_csv)
l_df = pd.read_csv(l_csv)
num_df.head()

,Ranking per year,Released,Title,Source,Production\nBudget,Opening Weekend\nRevenue,Domestic\nBox Office,Infl. Adj. Dom.\nBox Office,International\nBox Office,Worldwide\nBox Office
0,1,"Nov 17, 2000",How the Grinch Stole Christmas,Based on Fiction Book/Short Story,"$123,000,000","$55,820,330","$260,044,825","$438,980,791","$85,096,578","$345,141,403"
1,2,"Dec 22, 2000",Cast Away,Original Screenplay,"$85,000,000","$28,883,406","$233,632,142","$384,884,272","$193,598,374","$427,230,516"
2,3,"May 24, 2000",Mission: Impossible 2,Based on TV,"$120,000,000","$57,845,297","$215,409,889","$364,078,672","$334,178,627","$549,588,516"
3,4,"May 5, 2000",Gladiator,Original Screenplay,"$103,000,000","$34,819,017","$187,683,805","$317,130,387","$270,000,000","$457,683,805"
4,5,"Dec 15, 2000",What Women Want,Original Screenplay,"$65,000,000","$33,614,543","$182,805,123","$303,565,725","$191,300,000","$374,105,123"

In [6]:
print(len(f_df))
print(len(l_df))

fl_df = f_df.append(l_df)
print(len(fl_df))
fl_df

861
863
1724

,Unnamed: 0,title,ratings,awards,rated,runtime,genere,metascore,imdbRating,imdbVotes,imdbID,nominations
0,0,How the Grinch Stole Christmas,"[{'Source': 'Internet Movie Database', 'Value'...",Won 1 Oscar. Another 17 wins & 37 nominations.,PG,104 min,"Comedy, Family, Fantasy",46.0,6.1,"193,860",tt0170016,37.0
1,1,Cast Away,"[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 2 Oscars. Another 15 wins & 35 n...,PG-13,143 min,"Adventure, Drama, Romance",73.0,7.8,"491,190",tt0162222,35.0
2,2,Gladiator,"[{'Source': 'Internet Movie Database', 'Value'...",Won 5 Oscars. Another 54 wins & 104 nominations.,R,155 min,"Action, Adventure, Drama",67.0,8.5,"1,265,367",tt0172495,104.0
3,3,What Women Want,"[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Golden Globe. Another 5 wins &...,PG-13,127 min,"Comedy, Fantasy, Romance",47.0,6.4,"184,860",tt0207201,8.0
4,4,The Perfect Storm,"[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 2 Oscars. Another 4 wins & 25 no...,PG-13,130 min,"Action, Adventure, Drama, Thriller",59.0,6.4,"149,878",tt0177971,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...
858,858,Rock Dog,"[{'Source': 'Internet Movie Database', 'Value'...",3 nominations.,PG,90 min,"Animation, Adventure, Comedy, Family, Music",48.0,5.9,"4,252",tt2822672,3.0
859,859,The Lost City of Z,"[{'Source': 'Internet Movie Database', 'Value'...",6 wins & 29 nominations.,PG-13,141 min,"Biography, Drama, History",78.0,6.6,"71,426",tt1212428,29.0
860,860,The Promise,"[{'Source': 'Internet Movie Database', 'Value'...",2 wins & 4 nominations.,PG-13,133 min,"Action, Adventure, Drama, History, War",49.0,5.9,"165,602",tt4776998,4.0
861,861,The Space Between Us,"[{'Source': 'Internet Movie Database', 'Value'...",4 nominations.,PG-13,120 min,"Drama, Romance, Sci-Fi",33.0,6.4,"43,843",tt3922818,4.0
862,862,Birth of the Dragon,"[{'Source': 'Internet Movie Database', 'Value'...",1 win.,PG-13,95 min,"Action, Biography, Drama",35.0,5.5,"6,589",tt2720826,NaN

In [21]:
fl_df.rename(columns={'title':'Title'},inplace=True)
quick_df = pd.merge(num_df,fl_df,on='Title',how='left')

In [22]:
quick_df

,Ranking per year,Released,Title,Source,Production\nBudget,Opening Weekend\nRevenue,Domestic\nBox Office,Infl. Adj. Dom.\nBox Office,International\nBox Office,Worldwide\nBox Office,...,ratings,awards,rated,runtime,genere,metascore,imdbRating,imdbVotes,imdbID,nominations
0,1,"Nov 17, 2000",How the Grinch Stole Christmas,Based on Fiction Book/Short Story,"$123,000,000","$55,820,330","$260,044,825","$438,980,791","$85,096,578","$345,141,403",...,"[{'Source': 'Internet Movie Database', 'Value'...",Won 1 Oscar. Another 17 wins & 37 nominations.,PG,104 min,"Comedy, Family, Fantasy",46.0,6.1,"193,860",tt0170016,37.0
1,2,"Dec 22, 2000",Cast Away,Original Screenplay,"$85,000,000","$28,883,406","$233,632,142","$384,884,272","$193,598,374","$427,230,516",...,"[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 2 Oscars. Another 15 wins & 35 n...,PG-13,143 min,"Adventure, Drama, Romance",73.0,7.8,"491,190",tt0162222,35.0
2,3,"May 24, 2000",Mission: Impossible 2,Based on TV,"$120,000,000","$57,845,297","$215,409,889","$364,078,672","$334,178,627","$549,588,516",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"May 5, 2000",Gladiator,Original Screenplay,"$103,000,000","$34,819,017","$187,683,805","$317,130,387","$270,000,000","$457,683,805",...,"[{'Source': 'Internet Movie Database', 'Value'...",Won 5 Oscars. Another 54 wins & 104 nominations.,R,155 min,"Action, Adventure, Drama",67.0,8.5,"1,265,367",tt0172495,104.0
4,5,"Dec 15, 2000",What Women Want,Original Screenplay,"$65,000,000","$33,614,543","$182,805,123","$303,565,725","$191,300,000","$374,105,123",...,"[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Golden Globe. Another 5 wins &...,PG-13,127 min,"Comedy, Fantasy, Romance",47.0,6.4,"184,860",tt0207201,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799,96,"Feb 24, 2017",Rock Dog,Original Screenplay,"$60,000,000","$3,704,749","$9,420,546","$9,567,577","$14,727,942","$24,148,488",...,"[{'Source': 'Internet Movie Database', 'Value'...",3 nominations.,PG,90 min,"Animation, Adventure, Comedy, Family, Music",48.0,5.9,"4,252",tt2822672,3.0
1800,97,"Apr 14, 2017",The Lost City of Z,Based on Factual Book/Article,"$30,000,000","$110,175","$8,574,339","$8,708,158","$8,547,484","$17,121,823",...,"[{'Source': 'Internet Movie Database', 'Value'...",6 wins & 29 nominations.,PG-13,141 min,"Biography, Drama, History",78.0,6.6,"71,426",tt1212428,29.0
1801,98,"Apr 21, 2017",The Promise,Original Screenplay,"$90,000,000","$4,095,718","$8,224,288","$8,352,640","$2,327,129","$10,551,417",...,"[{'Source': 'Internet Movie Database', 'Value'...",2 wins & 4 nominations.,PG-13,133 min,"Action, Adventure, Drama, History, War",49.0,5.9,"165,602",tt4776998,4.0
1802,99,"Feb 3, 2017",The Space Between Us,Original Screenplay,"$30,000,000","$3,775,596","$7,885,294","$8,008,364","$8,596,111","$16,481,405",...,"[{'Source': 'Internet Movie Database', 'Value'...",4 nominations.,PG-13,120 min,"Drama, Romance, Sci-Fi",33.0,6.4,"43,843",tt3922818,4.0
1803,100,"Aug 25, 2017",Birth of the Dragon,Based on Real Life Events,"$31,000,000","$2,702,430","$6,901,965","$7,009,680","$318,525","$7,220,490",...,"[{'Source': 'Internet Movie Database', 'Value'...",1 win.,PG-13,95 min,"Action, Biography, Drama",35.0,5.5,"6,589",tt2720826,NaN

In [27]:
quick_df.drop(columns='Unnamed: 0',inplace=True)
print(len(num_df))
print(quick_df.columns)

1800
Index(['Ranking per year', 'Released', 'Title', 'Source', 'Production\nBudget',
       'Opening Weekend\nRevenue', 'Domestic\nBox Office',
       'Infl. Adj. Dom.\nBox Office', 'International\nBox Office',
       'Worldwide\nBox Office', 'ratings', 'awards', 'rated', 'runtime',
       'genere', 'metascore', 'imdbRating', 'imdbVotes', 'imdbID',
       'nominations'],
      dtype='object')

In [32]:
num_df['Title'].value_counts()
#Harry potter 7,8
#

Harry Potter and the Deathly Hallows:…    2
Fantastic Four                            2
Draft Day                                 1
Date Night                                1
Seventh Son                               1
                                         ..
Defiance                                  1
Alice in Wonderland                       1
Leap Year                                 1
Hart's War                                1
Vanilla Sky                               1
Name: Title, Length: 1798, dtype: int64

In [31]:
print(len(quick_df['Title'].unique()))
print(len(num_df['Title'].unique()))
print(len(fl_df['Title'].unique()))
print(len(f_df['title'].unique()))
print(len(l_df['title'].unique()))
print(len(f_df['title']))
print(len(l_df['title']))

1798
1798
1722
861
862
861
863

In [28]:
quick_df.to_csv('./data_files/quick_merge.csv')

In [36]:
num_df['Title'][1104]

'Pirates of the Caribbean: On Stranger…'