In [1]:
# Dependencies
import requests
import pandas as pd
from config import api_key

# read in csv file for title lis
num_csv = "./data_files/Numberdotcom.csv"

In [2]:
# read in csv file for title list
num_df = pd.read_csv(num_csv)
num_df.head()

,Ranking per year,Released,Title,Source,Production\nBudget,Opening Weekend\nRevenue,Domestic\nBox Office,Infl. Adj. Dom.\nBox Office,International\nBox Office,Worldwide\nBox Office
0,1,"Nov 17, 2000",How the Grinch Stole Christmas,Based on Fiction Book/Short Story,"$123,000,000","$55,820,330","$260,044,825","$438,980,791","$85,096,578","$345,141,403"
1,2,"Dec 22, 2000",Cast Away,Original Screenplay,"$85,000,000","$28,883,406","$233,632,142","$384,884,272","$193,598,374","$427,230,516"
2,3,"May 24, 2000",Mission: Impossible 2,Based on TV,"$120,000,000","$57,845,297","$215,409,889","$364,078,672","$334,178,627","$549,588,516"
3,4,"May 5, 2000",Gladiator,Original Screenplay,"$103,000,000","$34,819,017","$187,683,805","$317,130,387","$270,000,000","$457,683,805"
4,5,"Dec 15, 2000",What Women Want,Original Screenplay,"$65,000,000","$33,614,543","$182,805,123","$303,565,725","$191,300,000","$374,105,123"

In [16]:
# generate title list for api seach
titles = num_df['Title'].tolist()
titles[1799]

'Birth of the Dragon'

In [13]:
# test run
url = f"http://www.omdbapi.com/?t={titles[900]}&apikey={api_key}"
response = requests.get(url).json()

In [14]:
# looking at json
response

{'Title': 'Avatar',
 'Year': '2009',
 'Rated': 'PG-13',
 'Released': '18 Dec 2009',
 'Runtime': '162 min',
 'Genre': 'Action, Adventure, Fantasy, Sci-Fi',
 'Director': 'James Cameron',
 'Writer': 'James Cameron',
 'Actors': 'Sam Worthington, Zoe Saldana, Sigourney Weaver, Stephen Lang',
 'Plot': 'A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.',
 'Language': 'English, Spanish',
 'Country': 'USA',
 'Awards': 'Won 3 Oscars. Another 86 wins & 129 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.8/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '82%'},
  {'Source': 'Metacritic', 'Value': '83/100'}],
 'Metascore': '83',
 'imdbRating': '7.8',
 'imdbVotes': '1,078,016',
 'imdbID': 'tt0499549',
 'Type': 'movie',
 'DVD': '22 Apr 2010',
 'BoxOffice': '$749,700,000',
 'Production': '20th Century Fox',
 'Website': 'N/A',
 'Response': 'True'}

In [18]:
# empty lists for dataframe construction
ratings=[]
awards=[]
rated=[]
runtime=[]
genre=[]
metascore=[]
imdbRating=[]
imdbVotes=[]
imdbID=[]
titles_edit=[]
responses=[]

In [19]:
# forloop for api call, limit to 1000 calls a day
for i in range(900,1800):
    url = f"http://www.omdbapi.com/?t={titles[i]}&apikey={api_key}"
    response = requests.get(url).json()
    responses.append(response)
    try:
        ratings.append(response['Ratings'])
        awards.append(response['Awards'])
        rated.append(response['Rated'])
        runtime.append(response['Runtime'])
        genre.append(response['Genre'])
        metascore.append(response['Metascore'])
        imdbRating.append(response['imdbRating'])
        imdbVotes.append(response['imdbVotes'])
        imdbID.append (response['imdbID'])
        titles_edit.append(titles[i])
    except:
        print(f"Movie not found, title={titles[i]}")

Movie not found, title=Night at the Museum: Battle of the Sm…
Movie not found, title=Disney’s A Christmas Carol
Movie not found, title=Underworld 3: Rise of the Lycans
Movie not found, title=Prince of Persia: Sands of Time
Movie not found, title=Wall Street 2: Money Never Sleeps
Movie not found, title=Saw 3D
Movie not found, title=Love and Other Drugs
Movie not found, title=Nanny McPhee and the Big Bang
Movie not found, title=Alpha and Omega 3D
Movie not found, title=Cowboys and Aliens
Movie not found, title=Gnomeo and Juliet
Movie not found, title=Mr. Poppers's Penguins
Movie not found, title=Spy Kids: All the Time in the World
Movie not found, title=Extremely Loud and Incredibly Close
Movie not found, title=Doctor Seuss' The Lorax
Movie not found, title=Tyler Perry's Madea's Witness Protection
Movie not found, title=Kari gurashi no Arietti
Movie not found, title=Fast and Furious 6
Movie not found, title=The Hangover 3
Movie not found, title=Jackass Presents: Bad Grandpa
Movie not found, title=Disney Planes
Movie not found, title=Tyler Perry's A Madea Christmas
Movie not found, title=Scary Movie V
Movie not found, title=The Hobbit: The Battle of the Five Ar…
Movie not found, title=Planes: Fire and Rescue
Movie not found, title=Star Wars Ep. VII: The Force Awakens
Movie not found, title=The Divergent Series: Insurgent
Movie not found, title=Baahubali: The Beginning
Movie not found, title=The Conjuring 2: The Enfield Poltergeist
Movie not found, title=The Divergent Series: Allegiant
Movie not found, title=13 Hours: The Secret Soldiers of Beng…
Movie not found, title=Star Wars Ep. VIII: The Last Jedi
Movie not found, title=Pirates of the Caribbean: Dead Men Te…
Movie not found, title=John Wick: Chapter Two
Movie not found, title=Tyler Perry’s Boo 2! A Madea Halloween
Movie not found, title=Valerian and the City of a Thousand P…
Movie not found, title=Victoria and Abdul

In [57]:
new_titles=test_df['title'].tolist()
for mov in titles_edit:
    new_titles.append(mov)

In [20]:
omdb_df =pd.DataFrame({'title':titles_edit,
                        'ratings':ratings,
                        'awards':awards,
                        'rated':rated,
                        'runtime':runtime,
                        'genere':genre,
                        'metascore':metascore,
                        'imdbRating':imdbRating,
                        'imdbVotes':imdbVotes,
                        'imdbID':imdbID})
omdb_df

,title,ratings,awards,rated,runtime,genere,metascore,imdbRating,imdbVotes,imdbID
0,Avatar,"[{'Source': 'Internet Movie Database', 'Value'...",Won 3 Oscars. Another 86 wins & 129 nominations.,PG-13,162 min,"Action, Adventure, Fantasy, Sci-Fi",83,7.8,"1,078,016",tt0499549
1,Transformers: Revenge of the Fallen,"[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Oscar. Another 15 wins & 27 no...,PG-13,150 min,"Action, Adventure, Sci-Fi",35,6.0,"371,781",tt1055369
2,Harry Potter and the Half-Blood Prince,"[{'Source': 'Internet Movie Database', 'Value'...",Nominated for 1 Oscar. Another 8 wins & 35 nom...,PG,153 min,"Action, Adventure, Family, Fantasy, Mystery",78,7.6,"436,498",tt0417741
3,The Twilight Saga: New Moon,"[{'Source': 'Internet Movie Database', 'Value'...",20 wins & 24 nominations.,PG-13,130 min,"Adventure, Drama, Fantasy, Mystery, Romance",44,4.7,"254,666",tt1259571
4,Up,"[{'Source': 'Internet Movie Database', 'Value'...",Won 2 Oscars. Another 77 wins & 82 nominations.,PG,96 min,"Animation, Adventure, Comedy, Family",88,8.2,"878,357",tt1049413
...,...,...,...,...,...,...,...,...,...,...
858,Rock Dog,"[{'Source': 'Internet Movie Database', 'Value'...",3 nominations.,PG,90 min,"Animation, Adventure, Comedy, Family, Music",48,5.9,"4,252",tt2822672
859,The Lost City of Z,"[{'Source': 'Internet Movie Database', 'Value'...",6 wins & 29 nominations.,PG-13,141 min,"Biography, Drama, History",78,6.6,"71,426",tt1212428
860,The Promise,"[{'Source': 'Internet Movie Database', 'Value'...",2 wins & 4 nominations.,PG-13,133 min,"Action, Adventure, Drama, History, War",49,5.9,"165,602",tt4776998
861,The Space Between Us,"[{'Source': 'Internet Movie Database', 'Value'...",4 nominations.,PG-13,120 min,"Drama, Romance, Sci-Fi",33,6.4,"43,843",tt3922818
862,Birth of the Dragon,"[{'Source': 'Internet Movie Database', 'Value'...",1 win.,PG-13,95 min,"Action, Biography, Drama",35,5.5,"6,589",tt2720826

In [21]:
# Save to local csv
omdb_df.to_csv('./data_files/last900.csv')